// MENU
#include "tetrismen.h"

MAINMENU MENU
{
	POPUP "Ajustes"
	{
		MENUITEM "Nuevo juego", IDM_NUEVO
		MENUITEM "Salir", IDM_SALIR
	}
	POPUP "Creditos"
	{
		MENUITEM "Informacion", IDM_CREDITOS
	}
}
